In [1]:
#Import dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st
import numpy as np

#Import CSV's
summer_olympics_path = "Homar's Data/summer.csv"
winter_olympics_path = "Homar's Data/winter.csv"

#Read CSV's
summer_olympics = pd.read_csv(summer_olympics_path)
winter_olympics = pd.read_csv(winter_olympics_path)

#Convert into DF
summer_df = pd.DataFrame(summer_olympics)
winter_df = pd.DataFrame(winter_olympics)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [13]:
summer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     31165 non-null  int64
 1   Country  31161 non-null  object
 2   Event    31165 non-null  object
 3   Medal    31165 non-null  object
dtypes: int64(1), object(3)
memory usage: 974.0+ KB

In [20]:
#Clean up Summer Olympic's DataFrame
summer_df = summer_df[['Year','Country', 'Event', 'Medal']]
summer_df = summer_df.loc(['Year'] > 1945)

#Clean up Winter Olympic's DataFrame
winter_df = winter_df[['Year', 'Country', 'Event', 'Medal']]

TypeError: '>' not supported between instances of 'list' and 'int'