In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
summer_events = pd.read_csv('../Project-1/summer.csv')
winter_events = pd.read_csv('../Project-1/winter.csv')
dictionary_data = pd.read_csv('dictionary.csv', usecols=['Code', 'Country'])

country_mapping = dict(zip(dictionary_data['Code'], dictionary_data['Country']))

known_country_names =  {
    'URS': 'USSR-Prior 1992',
    'TCH': 'Czechoslovakia- Prior 1992',
    'ROU': 'Romania',
    'GDR': 'East Germany-Prior 1992',
    'EUN': 'Europe Unified Team',
    'FRG': 'Germany- Prior 1990',
    'EUA': 'Austria- pre AUT',
    'ZZX': 'Unknown',
    'ANZ': 'Australia-New Zealand',
    'BOH': 'Bohemia',
    'RU1': 'Russia',
    'YUG': 'Yugoslavia',
}

summer_events['Country Name'] = summer_events['Country'].map(country_mapping)

In [3]:
for index, row in summer_events.iterrows():
    country_code = row['Country']
    if pd.isna(row['Country Name']):
        if country_code in country_mapping:
            summer_events.at[index, 'Country Name'] = country_mapping[country_code]
        elif country_code in known_country_names:
            summer_events.at[index, 'Country Name'] = known_country_names[country_code]

In [4]:
track_field = summer_events.loc[(summer_events['Sport'] == 'Athletics') & (summer_events['Year'] >= 1948)]
track_field_df = pd.DataFrame(track_field)
track_field_df = track_field_df.drop(['Year','Country','Discipline','City','Sport'],axis=1)
track_field_df = track_field_df = track_field_df.reindex(columns=['Country Name','Athlete','Gender','Event','Medal'])
track_field_df = track_field_df.drop(track_field_df[track_field_df['Event'] == '4X100M Relay'].index)
track_field_df = track_field_df.drop(track_field_df[track_field_df['Event'] == '4X400M Relay'].index)
track_field_df

,Country Name,Athlete,Gender,Event,Medal
7295,Sweden,"ALBERTSSON, Bertil",Men,10000M,Bronze
7296,Czechoslovakia- Prior 1992,"ZATOPEK, Emil",Men,10000M,Gold
7297,France,"MIMOUN, Alain",Men,10000M,Silver
7298,Switzerland,"SCHWAB, Erich Arthur Fritz",Men,10000M Walk,Bronze
7299,Sweden,"MIKAELSSON, John",Men,10000M Walk,Gold
...,...,...,...,...,...
29767,United States,"CLAYE, Will",Men,Triple Jump,Silver
29768,Italy,"DONATO, Fabrizio",Men,Triple Jump,Bronze
29769,Kazakhstan,"RYPAKOVA, Olga",Women,Triple Jump,Gold
29770,Colombia,"IBARGUEN, Caterine",Women,Triple Jump,Silver
29771,Ukraine,"SALADUKHA, Olga",Women,Triple Jump,Bronze

In [5]:
track_field_df.to_csv('../Project-1/track_field.csv',index=False)
track_field_df = pd.read_csv('../Project-1/track_field.csv')

In [54]:
country_medals = track_field_df.drop(['Athlete','Gender','Event','Gender'],axis=1)

country_gold_count = country_medals.loc[(country_medals['Medal'] == 'Gold')]
country_silver_count = country_medals.loc[(country_medals['Medal'] == 'Silver')]
country_bronze_count = country_medals.loc[(country_medals['Medal'] == 'Bronze')]

gold_medal = country_gold_count.value_counts().reset_index(level=1,drop=True)
silver_medal = country_silver_count.value_counts().reset_index(level=1,drop=True)
bronze_medal = country_bronze_count.value_counts().reset_index(level=1,drop=True)

country_medals_df = pd.DataFrame({'Gold': gold_medal,'Silver': silver_medal,'Bronze': bronze_medal})
country_medals_df

                   Gold  Silver  Bronze
Country Name
Algeria             4.0     1.0     2.0
Argentina           1.0     2.0     NaN
Australia          17.0    21.0    21.0
Austria             1.0     2.0     4.0
Austria- pre AUT    3.0    16.0     7.0
...                 ...     ...     ...
United Kingdom     26.0    41.0    30.0
United States     145.0   125.0   105.0
Venezuela           NaN     NaN     1.0
Yugoslavia          NaN     2.0     NaN
Zambia              NaN     1.0     NaN

[91 rows x 3 columns]

                      Gold  Silver  Bronze
Country Name  Medal
Algeria       Gold       4       4       4
              Bronze     2       2       2
              Silver     1       1       1
Argentina     Silver     2       2       2
              Gold       1       1       1
...                    ...     ...     ...
United States Silver   125     125     125
              Bronze   105     105     105
Venezuela     Bronze     1       1       1
Yugoslavia    Silver     2       2       2
Zambia        Silver     1       1       1

[204 rows x 3 columns]